form, .content {
    background: white;
    margin: 10px auto;
  }

form input {
	width: 100%;
	display: block;
	padding: 13px 13px;
	margin: 10px auto;
	border-radius: 5px;
	box-sizing : border-box;
	background: transparent;
	border: 1px solid #3E606F;
}

form textarea {
    width: 100%;
	display: block;
	padding: 13px 13px;
	margin: 10px auto;
	border-radius: 5px;
	box-sizing : border-box;
	background: transparent;
	border: 1px solid #3E606F;
}

.container h2{
    text-align: center;
}

.jumbotron {
    margin: 20px auto;
    background-color: transparent !important;
}

.comments .card{
    width: 100%;
    margin: 10px auto;
    text-align: left;
}

.commentBox{
    width: 100%;
}

.commentList {
    padding:0;
    list-style: none;
}

.commentList li {
    margin:0;
    margin-top:10px;
}

.commentAuthor {
    color:#aaa;
    font-size: 12px;
}

.card{
    width: 50%;
    margin: 10px auto;
    text-align: left;
}

.alert-success{
    width: 50%;
    margin: auto;
}

.topnav {
    background-color: rgb(64, 70, 75);
    overflow: hidden;
    margin-bottom: 20px;
}

.active {
    background-color: rgb(85, 114, 138);
    color: white;
}

.topnav a {
    float: left;
    width: 8%;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}